In [493]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [494]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [495]:
#clean data to remove duplicate players to get total unique player count; 
#set total players variable for future calculations
purchase_data_cleaned = purchase_data["SN"].drop_duplicates()

total_players = purchase_data_cleaned.count()

#create dataframe and display results
total_players_df = pd.DataFrame({"Total Players": [total_players]})

total_players_df

   Total Players
0            576

In [496]:
#purchasing analysis functions and equations

#identify the unique purchases
unique_items = purchase_data["Item ID"].unique()
total_unique_items = purchase_data["Item ID"].value_counts()
total_items = total_unique_items.count()

#average purchase price
average_purchase_price = purchase_data["Price"].mean()

#total number of purchases
total_purchases = purchase_data["Purchase ID"].count()


#total revenue
total_revenue = purchase_data["Price"].sum()

In [497]:
#create a spreadsheet with all of this info

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [total_items],
                                      "Average Price": [average_purchase_price],
                                      "Number of Purchases": [total_purchases],
                                      "Total Revenue": [total_revenue]})

purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [498]:
#Gender Demographics

#Total Male Players

only_males = purchase_data.loc[purchase_data["Gender"] == "Male"]

unique_total_males = only_males["SN"].unique()

total_male_players = 0
for player in unique_total_males:
    total_male_players += 1
    
#Total Female Players

only_females = purchase_data.loc[purchase_data["Gender"] == "Female"]

unique_total_females = only_females["SN"].unique()

total_female_players = 0
for player in unique_total_females:
    total_female_players += 1
    
#Total Nondisclosed Players

only_nondisclosed = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]

unique_total_nondisclosed = only_nondisclosed["SN"].unique()

total_nondisclosed_players = 0
for player in unique_total_nondisclosed:
    total_nondisclosed_players += 1

#Gender Demographics as Percentage of Entire Player Base

percentage_of_males = total_male_players / total_players

percentage_of_females = total_female_players / total_players

percentage_of_nondisclosed = total_nondisclosed_players / total_players

In [499]:
#table to display gender demographic information

playerbase_df = pd.DataFrame({"Total Count": [total_male_players, total_female_players,
                                             total_nondisclosed_players],
                              "Percentage of Players": [percentage_of_males, percentage_of_females, 
                                                        percentage_of_nondisclosed],
                             "Gender": ["Male", "Female", "Other / Non-Disclosed"]})

sorted_playerbase_df = playerbase_df.groupby("Gender")

sorted_playerbase_df.max()

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [500]:
#Purchasing Analysis by Gender

#Purchasing Analysis for Males
male_purchase_count = only_males["Purchase ID"].count()
male_mean_purchase_total = only_males["Price"].mean()
male_purchase_value = only_males["Price"].sum()
male_total_mean = male_purchase_value / total_male_players

#Purchasing Analysis for Females
female_purchase_count = only_females["Purchase ID"].count()
female_mean_purchase_total = only_females["Price"].mean()
female_purchase_value = only_females["Price"].sum()
female_total_mean = female_purchase_value / total_female_players

#Purchasing Analysis for Non-Disclosed
nondisc_purchase_count = only_nondisclosed["Purchase ID"].count()
nondisc_mean_purchase_total = only_nondisclosed["Price"].mean()
nondisc_purchase_value = only_nondisclosed["Price"].sum()
nondisc_total_mean = nondisc_purchase_value / total_nondisclosed_players

In [501]:
#create a table with all of this info rounded and formatted properly

gender_demographics_df = pd.DataFrame({"Purchase Count": [female_purchase_count, male_purchase_count, nondisc_purchase_count],
                                "Average Purchase Price": [female_mean_purchase_total, male_mean_purchase_total, nondisc_mean_purchase_total],
                                "Total Purchase Value": [female_purchase_value, male_purchase_value, nondisc_purchase_value],
                                "Average Total Purchase per Person": [female_total_mean, male_total_mean, nondisc_total_mean],
                                      "Gender": ["Female", "Male", "Other / Non-Disclosed"]})

sorted_gender_demographics_df = gender_demographics_df.groupby("Gender")

sorted_gender_demographics_df.max()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [502]:
#establish bins for ages and sort existing players into those bins

bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_games = ["0-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create the names for the four bins

purchase_data["Total Count"] = pd.cut(purchase_data["Age"], bins, labels=group_games)

total_A = purchase_data_cleaned.loc[purchase_data["Total Count"] == "0-9"].count()
total_B = purchase_data_cleaned.loc[purchase_data["Total Count"] == "10-14"].count()
total_C = purchase_data_cleaned.loc[purchase_data["Total Count"] == "15-19"].count()
total_D = purchase_data_cleaned.loc[purchase_data["Total Count"] == "20-24"].count()
total_E = purchase_data_cleaned.loc[purchase_data["Total Count"] == "25-29"].count()
total_F = purchase_data_cleaned.loc[purchase_data["Total Count"] == "30-34"].count()
total_G = purchase_data_cleaned.loc[purchase_data["Total Count"] == "35-39"].count()
total_H = purchase_data_cleaned.loc[purchase_data["Total Count"] == "40+"].count()

percentage_A = total_A / my_total_players 
percentage_B = total_B / my_total_players
percentage_C = total_C / my_total_players
percentage_D = total_D / my_total_players
percentage_E = total_E / my_total_players
percentage_F = total_F / my_total_players
percentage_G = total_G / my_total_players
percentage_H = total_H / my_total_players

In [503]:
#dataframe to store the above information

age_demographics_df = pd.DataFrame({"Total Count": [total_A, total_B, total_C, total_D, total_E, total_F, total_G, total_H],
                                   "Percentage of Players": [percentage_A, percentage_B, percentage_C, 
                                                             percentage_D, percentage_E, percentage_F,
                                                             percentage_G, percentage_H],
                                   "Categories": ["0-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]})

sorted_age_demographics_df = age_demographics_df.groupby("Categories")

sorted_age_demographics_df.max()

            Total Count  Percentage of Players
Categories
0-9                  17               0.029514
10-14                22               0.038194
15-19               107               0.185764
20-24               258               0.447917
25-29                77               0.133681
30-34                52               0.090278
35-39                31               0.053819
40+                  12               0.020833

In [504]:
#remove duplicates from dataset in order to get the average spent per player for dataframe below
age_purchase_data_cleaned = purchase_data["SN"].drop_duplicates()

In [505]:
#groupby age and find purchasing info for each age range

#functions and equations to identify purchasing data for below 10 age group
below10_purchase_data = purchase_data.loc[purchase_data["Total Count"] == "0-9"]
below10_total_players = age_purchase_data_cleaned.loc[purchase_data["Total Count"] == "0-9"].count()
below10_purchase_count = below10_purchase_data["Purchase ID"].count()
below10_mean_purchase = below10_purchase_data["Price"].mean()
below10_purchase_value = below10_purchase_data["Price"].sum()
average_below10_purchases = below10_purchase_value / below10_total_players

In [506]:
#functions and equations to identify purchasing data for 10-14 age group

purchase_data_10_14 = purchase_data.loc[purchase_data["Total Count"] == "10-14"]
total_players_10_14 = age_purchase_data_cleaned.loc[purchase_data["Total Count"] == "10-14"].count()
purchase_count_10_14 = purchase_data_10_14["Purchase ID"].count()
mean_purchase_10_14 = purchase_data_10_14["Price"].mean()
purchase_value_10_14 = purchase_data_10_14["Price"].sum()
average_10_14_purchases = purchase_value_10_14 / total_players_10_14

In [507]:
#functions and equations to identify purchasing data for 15-19 age group

purchase_data_15_19 = purchase_data.loc[purchase_data["Total Count"] == "15-19"]
total_players_15_19 = age_purchase_data_cleaned.loc[purchase_data["Total Count"] == "15-19"].count()
purchase_count_15_19 = purchase_data_15_19["Purchase ID"].count()
mean_purchase_15_19 = purchase_data_15_19["Price"].mean()
purchase_value_15_19 = purchase_data_15_19["Price"].sum()
average_15_19_purchases = purchase_value_15_19 / total_players_15_19

In [508]:
#functions and equations to identify purchasing data for 20-24 age group

purchase_data_20_24 = purchase_data.loc[purchase_data["Total Count"] == "20-24"]
total_players_20_24 = age_purchase_data_cleaned.loc[purchase_data["Total Count"] == "20-24"].count()
purchase_count_20_24 = purchase_data_20_24["Purchase ID"].count()
mean_purchase_20_24 = purchase_data_20_24["Price"].mean()
purchase_value_20_24 = purchase_data_20_24["Price"].sum()
average_20_24_purchases = purchase_value_20_24 / total_players_20_24

In [509]:
#functions and equations to identify purchasing data for 25-29 age group

purchase_data_25_29 = purchase_data.loc[purchase_data["Total Count"] == "25-29"]
total_players_25_29 = age_purchase_data_cleaned.loc[purchase_data["Total Count"] == "25-29"].count()
purchase_count_25_29 = purchase_data_25_29["Purchase ID"].count()
mean_purchase_25_29 = purchase_data_25_29["Price"].mean()
purchase_value_25_29 = purchase_data_25_29["Price"].sum()
average_25_29_purchases = purchase_value_25_29 / total_players_25_29

In [510]:
#functions and equations to identify purchasing data for 30-34 age group

purchase_data_30_34 = purchase_data.loc[purchase_data["Total Count"] == "30-34"]
total_players_30_34 = age_purchase_data_cleaned.loc[purchase_data["Total Count"] == "30-34"].count()
purchase_count_30_34 = purchase_data_30_34["Purchase ID"].count()
mean_purchase_30_34 = purchase_data_30_34["Price"].mean()
purchase_value_30_34 = purchase_data_30_34["Price"].sum()
average_30_34_purchases = purchase_value_30_34 / total_players_30_34

In [511]:
#functions and equations to identify purchasing data for 35-39 age group

purchase_data_35_39 = purchase_data.loc[purchase_data["Total Count"] == "35-39"]
total_players_35_39 = age_purchase_data_cleaned.loc[purchase_data["Total Count"] == "35-39"].count()
purchase_count_35_39 = purchase_data_35_39["Purchase ID"].count()
mean_purchase_35_39 = purchase_data_35_39["Price"].mean()
purchase_value_35_39 = purchase_data_35_39["Price"].sum()
average_35_39_purchases = purchase_value_35_39 / total_players_35_39

In [512]:
#functions and equations to identify purchasing data for 40+ age group

purchase_data_above40 = purchase_data.loc[purchase_data["Total Count"] == "40+"]
total_players_above40 = age_purchase_data_cleaned.loc[purchase_data["Total Count"] == "40+"].count()
purchase_count_above40 = purchase_data_above40["Purchase ID"].count()
mean_purchase_above40 = purchase_data_above40["Price"].mean()
purchase_value_above40 = purchase_data_above40["Price"].sum()
average_above40_purchases = purchase_value_above40 / total_players_above40

In [513]:
#create a dataframe to store the above information

age_purchase_stats_df = pd.DataFrame({"Purchase Count": [below10_purchase_count, purchase_count_10_14, purchase_count_15_19,
                                                        purchase_count_20_24, purchase_count_25_29, purchase_count_30_34,
                                                        purchase_count_35_39, purchase_count_above40],
                                    "Average Purchase Price": [below10_mean_purchase, mean_purchase_10_14,
                                                              mean_purchase_15_19, mean_purchase_20_24,
                                                              mean_purchase_25_29, mean_purchase_30_34,
                                                              mean_purchase_35_39, mean_purchase_above40],
                                    "Total Purchase Value": [below10_purchase_value, purchase_value_10_14, purchase_value_15_19,
                                                            purchase_value_20_24, purchase_value_25_29, purchase_value_30_34,
                                                            purchase_value_35_39, purchase_value_above40],
                                    "Avg Total Purchase per Person": [average_below10_purchases, average_10_14_purchases,
                                                                     average_15_19_purchases, average_20_24_purchases,
                                                                     average_25_29_purchases, average_30_34_purchases,
                                                                     average_35_39_purchases, average_above40_purchases],
                                   "Categories": ["0-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]})

sorted_age_purchase_info_df = age_purchase_stats_df.groupby("Categories")

sorted_age_purchase_info_df.max()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Categories,,,,
0-9,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [605]:
#Top Spender Analysis *I needed help to figure out how to solve this question.
#I would eventually like to resubmit this assignment after I have a better understanding
#of how to groupby certain datatypes and do basic equations on relevant info. 
#I need to study these concepts more and will resubmit after an initial grade is recorded.


#create a new list to pull the values that are relevant to the following caluculations
highest_spending_users = purchase_data[['SN', 'Purchase ID', 'Price']]

#using the listed values above, can count the total purchases and add up the totals spent by user.
user_purchase_count = highest_spending_users.groupby('SN').count()
total_purchase_value = highest_spending_users.groupby('SN')['Price'].sum().reset_index()
biggest_spenders = total_purchase_value.set_index('SN')


biggest_spenders_combined = user_purchase_count.merge(total_purchase_value, how='outer', on='SN')
sorted_biggest_spenders_combined = biggest_spenders_combined.drop(columns= 'Price_x')

sorted_biggest_spenders_combined.rename(columns={'Purchase ID': 'Purchase Count',
                                   'Price_y': 'Total Purchase Value'}, inplace=True)
sorted_biggest_spenders_combined['Average Purchase Price'] = \
sorted_biggest_spenders_combined['Total Purchase Value'] / sorted_biggest_spenders_combined['Purchase Count']

biggest_spenders_final = sorted_biggest_spenders_combined.sort_values('Total Purchase Value', ascending=False)

biggest_spenders_final.head()

              SN  Purchase Count  Total Purchase Value  Average Purchase Price
360    Lisosia93               5                 18.96                3.792000
246  Idastidru52               4                 15.45                3.862500
106   Chamjask73               3                 13.83                4.610000
275       Iral74               4                 13.62                3.405000
281  Iskadarya95               3                 13.10                4.366667

In [662]:
#most popular items
#i was unable to complete this part of the assignment appropriately. 
#will resubmit after I better understand these concepts and study them more. 

#retrieve the required columns: Item Name, Item ID, and Price
most_popular_items = purchase_data[['Item Name', 'Item ID', 'Price']]

#group by Item ID and Item Name to find total purchase count
popular_items_by_count = most_popular_items.groupby(['Item ID', 'Item Name'])['Price'].count().reset_index()
popular_items_by_count.set_index('Item ID')



#group by Item ID and Item Name to find total purchase by unit
popular_items_by_total = most_popular_items.groupby(['Item ID', 'Item Name'])['Price'].sum().reset_index()
popular_items_by_total.set_index('Item ID')


popular_items_by_total.rename(columns={'Price' : 'Total Purchase Value'})
popular_items_by_count.rename(columns={'Price' : 'Purchase Count'})
most_popular_items_merged = popular_items_by_count.merge(popular_items_by_total, on='Item Name')


#remove excess columns
most_popular_items_merged.drop(columns='Item ID_y', inplace=True)
most_popular_items_merged.drop(columns='Item ID_x', inplace=True)

most_popular_items_merged

                                        Item Name  Price_x  Price_y
0                                        Splinter        4     5.12
1                                        Crucifer        3     9.78
2                                        Crucifer        3     1.99
3                                        Crucifer        1     9.78
4                                        Crucifer        1     1.99
5                                         Verdict        6    14.88
6                                    Phantomlight        6    14.94
7                              Bloodlord's Fetish        5     8.50
8                                      Putrid Fan        4    16.32
9                                     Rusty Skull        2     7.40
10                   Thorn, Satchel of Dark Souls        7     9.31
11                       Purgatory, Gem of Regret        3    11.79
12              Thorn, Conqueror of the Corrupted        4    10.92
13                                    Sleepwalker        4     7.16
14                                      Brimstone        5    18.25
15                                          Dawne        6     6.12
16                                       Serenity        4     5.64
17                                 Possessed Core        2     5.22
18                           Soul Infused Crystal        5    14.80
19                                Restored Bauble        4    14.20
20                   Lazarus, Terror of the Earth        4     6.80
21                     Torchlight, Bond of Storms        2     9.30
22                  Pursuit, Cudgel of Necromancy        8     8.16
23                                     Netherbane        5    16.35
24                                      Souleater        5     5.50
25                                        Amnesia        6    13.08
26                                  Warped Fetish        5    19.05
27                                      Hero Cane        6    26.10
28                                    Unholy Wand        2     2.24
29                Riddle, Tribute of Ended Dreams        1     3.30
..                                            ...      ...      ...
161                               Mercenary Sabre        4    14.96
162                                  Feral Katana        4    17.60
163                     War-Forged Gold Deflector        5     5.05
164                  Soul-Forged Steel Shortsword        5     8.85
165                       Spada, Etcher of Hatred        4    19.20
166            Darkheart, Butcher of the Champion        2     4.90
167             Oathbreaker, Spellblade of Trials        7    21.56
168                                    Azurewrath        6    26.40
169                                        Devine        5     8.80
170                                 Abyssal Shard        5    13.35
171                          Thunderfury Scimitar        5    17.25
172                              Exiled Doomblade        7    11.41
173                   Bone Crushing Silver Skewer        4    19.44
174                           Thirsty Iron Reaver        3     9.21
175                   Malice, Legacy of the Queen        4    14.44
176           Sun Strike, Jaws of Twisted Visions        2     2.96
177        Interrogator, Blood Blade of the Queen        4     8.72
178                                   Shadowsteel        4    15.88
179                                       Scalpel        3     5.37
180                            Blade of the Grave        4    12.56
181                           Stormfury Longsword        2     9.86
182                               Primitive Blade        4    13.88
183                    Woeful Adamantite Claymore        3    13.44
184                        Relentless Iron Skewer        2     5.68
185      Winterthorn, Defender of Shifting Worlds        2     4.16
186  Oathbreaker, Last Hope of the Breaking Storm       12    50.76
187               Wolf, Promise of the Moonwalker        6    26.88
188                                 Reaper's Toll        5     8.30
189                                     Toothpick        3    12.09
190                           Dragon's Greatsword        3     3.27

[191 rows x 3 columns]